@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.redirect_setting_info {
  text-align: left;
  line-height: 25px;
}
.redirect_setting .login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.redirect_setting .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.redirect_setting .form input {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 300px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.redirect_setting lable {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 59px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.redirect_setting .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.redirect_setting .form button:hover, .redirect_setting .form button:active, .redirect_setting .form button:focus {
  background: #43A047;
}
.redirect_setting .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.redirect_setting .form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.redirect_setting .form .register-form {
  display: none;
}
.redirect_setting .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.redirect_setting .container:before, .redirect_setting .container:after {
  content: "";
  display: block;
  clear: both;
}
.redirect_setting .container .info {
  margin: 50px auto;
  text-align: center;
}
.redirect_setting .container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.redirect_setting .container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.redirect_setting .container .info span a {
  color: #000000;
  text-decoration: none;
}
.redirect_setting .container .info span .fa {
  color: #EF3B3A;
}
.redirect_setting body {
  background: #76b852; /* fallback for old browsers */
  background: rgb(141, 194, 111);
  background: linear-gradient(90deg, rgb(141, 194, 111) 0%, rgb(118, 184, 82) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}